/************************************************
    CUSTOM PROPERTIES
 ************************************************/

/************************************************
    RESET 
 ************************************************/
a {
    color: #54c1f2;
    text-decoration: none;
}

h1 {
    font-family: "Fredoka", sans-serif;
    font-weight: bold;
}

/************************************************
    UTILITIES 
 ************************************************/
.text-pink {
    color: #e53170;
}

.bg-darkblue {
    background-color: #000200;
}

/************************************************
    HEADER 
 ************************************************/

/************************************************
    MAIN 
 ************************************************/

/************************************************
    RESPONSIVE: DESKTOP-FIRST
 ************************************************/

/************************************************
    FONTS
 ************************************************/
